extends layout.pug

block content
  section.hero(class=coinFlip.result ? "is-success" : "is-warning")
    .hero-body
      h1.title It's #{ coinFlip.result }!
      p.subtitle
        | Created at #{ coinFlip.createdAt }
        if coinFlip.createdIp === requestIp
          |
          | by you
      p.subtitle
        | Flipped at #{ coinFlip.flippedAt }
        if coinFlip.flippedIp === requestIp
          |
          | by you

  section.section
    a.button.is-link(href="/") Flip another coin
