extends layout.pug

block content
  section.hero(class=coinFlip.result ? "is-success" : "is-warning")
    .hero-body
      h1.title It's #{ coinFlip.result ? 'heads' : 'tails' }!
      p.subtitle Flipped at #{ coinFlip.flippedAt } by #{ coinFlip.flippedIp === requestIp ? 'you' : 'someone else' }
  section.section
    a.button.is-link(href="/") Flip another coin
