extends layout.pug

block head
  script(type="application/javascript").
    function addOption() {
      var input = document.createElement("input");
      input.type = "text";
      input.required = true;
      input.name = "options[]";
      input.placeholder = "additional option name";
      input.classList.add("input", "is-large");

      var control = document.createElement("div");
      control.classList.add("is-flex-grow-1");
      control.appendChild(input);

      var deleteButton = document.createElement("button");
      deleteButton.classList.add("delete", "is-large", "ml-4");

      var field = document.createElement("div");
      field.classList.add("field", "is-grouped", "is-flex", "is-align-items-center");
      field.appendChild(control);
      field.appendChild(deleteButton);

      var options = document.getElementById("options");
      options.appendChild(field);
      input.focus();

      deleteButton.addEventListener("click", () => {
        options.removeChild(field);
      });
    }

block content
  section.hero.is-info
    .hero-body
      h1.title CoinFlippin'!
      p.subtitle Your trusted Coin Flips as a Service (CFaaS) solution

  section.section
    h2.title.is-2 Create coin flip
    form(action="/flip", method="post")
      label.label Options
      #options.field
        each option in options
          .field
            input.input.is-large(
              type="text",
              required,
              name="options[]",
              placeholder="option name",
              value=option
            )
      .field
        button.button.is-info.is-light(type="button", onclick="addOption()") Add option
      .field.mt-6
        .control
          button.button.is-primary(type="submit") Generate link
